---
import StoriesPages from "../components/StoriesPages.astro";
import Layout from "../layouts/Layout.astro";
import { getStories } from "../lib/fetchData";

const stories = await getStories("topstories");
---

<Layout title="Welcome to Astro.">
	<main>
		{stories && <StoriesPages posts={stories} />}
	</main>
</Layout>
