---
const links = [
    "topstories",
    "newstories",
    "beststories",
    "askstories",
    "showstories",
    "jobstories",
];
---

<aside class="h-max w-full md:w-1/3 flex justify-end static md:sticky top-0">
    <div
        class="w-full max-w-full md:max-w-xs p-4 md:p-8 flex flex-col items-center md:items-end gap-y-4 md:gap-y-8"
    >
        <a href="/">
            <span
                class="font-bold text-4xl bg-gradient-to-r from-orange-700 to-orange-500 bg-clip-text text-transparent"
            >
                Hackernews
            </span>
        </a>
        <ul class="flex flex-row md:flex-col items-end md:gap-4 gap-2">
            {
                links.map((link) => {
                    if (link === "topstories")
                        return (
                            <a href="/">
                                <span
                                    class={`capitalize font-semibold text-xl hover:text-orange-500 ${
                                        Astro.url.pathname === "/"
                                            ? "text-orange-500"
                                            : ""
                                    }`}
                                >
                                    {link.replace("stories", "")}
                                </span>
                            </a>
                        );
                    return (
                        <a href={`/${link}`}>
                            <span
                                class={`capitalize font-semibold text-xl hover:text-orange-500 ${
                                    Astro.url.pathname.includes(link)
                                        ? "text-orange-500"
                                        : ""
                                }`}
                            >
                                {link.replace("stories", "")}
                            </span>
                        </a>
                    );
                })
            }
        </ul>
    </div>
</aside>
