---
import "@fontsource-variable/inter";
import Sidebar from "../components/Sidebar.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Astro description"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Hackernews</title>
	</head>
	<body class="bg-gray-950 text-gray-50 min-h-screen w-full">
		<div class="flex w-full flex-col md:flex-row">
			<Sidebar />
			<main class="w-full md:w-2/3 max-w-3xl">
				<div class="p-4">
					<slot />
				</div>
			</main>
		</div>
	</body>
</html>

<style is:global>
	body {
		font-family: "Inter Variable", system-ui, sans-serif;
	}
</style>
